*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container{
    width:100%;
    max-width: 900px;
    background-color: #ccc;
    margin:30px auto;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 500%;
    height: 400px;
    margin-left: -100%;
}

.slider-item{
    width: 100%;
    position: relative;
    align-content: center;
}

.slider-item-btn{
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
    border: 2px solid #ccc;
}

.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-slider{
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    border-radius: 20%;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    background-color: rgba(204, 204, 204, 0.527);
    padding: 10px;
    cursor: pointer;
}

.btn-slider:hover{
    background-color: #ccc;
    /*transition: all 0.5s;*/
}

.btn-rigth{
    right: 10px;
} 

.btn-left{
   left:  10px;
}

.container_text_item{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: end;
    padding: 10%;
}
.container_text_item .text_item{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    color: #ccc;
    width: 90%;
}
.container_text_item a{
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    background-color: #FF731D;
    color: #ccc;
    border-radius: 10px;

}

@media only screen and (max-width: 767px){
    .slider-container{
        max-width: 350px;
    }
}
